* {margin: 0; padding: 0;}
:root {
    --vh: 100%;
}
.vh_test {
    display: flex;
    align-items: flex-start;
}
.vh_test > div {
    flex: 1;
    height: 100vh;
    border: 1px solid #999;
    box-sizing: border-box;
}
.vh_test .box1 {
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
.vh_test .box2 {
    height: 100vh;
    max-height: calc(var(--vh, 1vh) * 100);
}
.vh_test .item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    text-align: center;
    background: rgba(255,0,0,.5);
}
.vh_test .item:nth-of-type(even) {
    background: rgba(0,0,255,.5);
}