
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 97px;
  z-index: 100;
  transition: all .3s;
}
.header.fix {
  background: rgba(110,0,0,0.9);
  transition: all .3s;
}
.header > .inner {
  margin: 0 auto;
  width: 1280px;
}
.header::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0; 
  background: rgba(110,0,0,0.9);
  transition: all .5s;
  z-index: -1;
  content: '';
}
.header.bg01::before {
  height: 146px;
  content: '';
}
.header.bg02::before {
  height: 98px;
  content: '';
}
.header.bg03::before {
  height: 98px;
  content: '';
}
.header::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: rgba(255,255,255,.3);
  content: '';
}
.header.bg02::after,
.header.fix::after {
  display: none;
}
.header.bg01::after {
  display: block;
}

/* logo */

.header .logo {
  float: left;
}
.header .logo a {
  display: block;
  margin-right: 20px;
  width: 160px;
  height: 95px;
  background: url(../images/logo.png) 0 0 no-repeat;
}


/* nav */

.header .nav {
  float: left;
  padding-top: 6px;
}
.header .nav > ul > li {
  float: left;
  margin-right: 3px;
  padding: 0 15px;
}
.header .nav .depth01 {
  display: block;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.header .nav .depth02 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
}
.header .nav .depth02 > li{
  display: inline-block;
  padding: 0 35px;
}
.header .nav .depth02 > li > a {
  display: block;
  height: 50px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.header .nav .depth01-bar {
  position: absolute;
  top: 93px;
  width: auto;
  height: 3px;
  background: #fff;
  opacity: 0;
  transition: all .25s;
}
.header .nav .depth02-bar {
  position: absolute;
  top: 143px;
  width: auto;
  height: 3px;
  background: #fff;
  opacity: 0;
  transition: all .25s;
}


/* util */

.header .util {
  float: right;
  padding-top: 5px;
}
.header .util ul {
  display: inline-block;
  margin-right: -5px;
  line-height: 90px;
  vertical-align: middle;
}
.header .util li {
  float: left;
}
.header .util li a {
  position: relative;
  display: block;
  padding: 0 10px;
  color: rgba(255,255,255,0.8);
  font-size: 14px;
}
.header .util li:first-child a::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #ddd;
  content: '';
}
.header .util button {
  display: inline-block;
  margin-left: 7px;
  border: 1px solid rgba(255,255,255,0.5);
  width: 51px;
  height: 51px;
  background-image: url(../images/header-util.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
  vertical-align: middle;
}
.header .util .search-open-btn {
  background-position: 0 0;
}
.header .util .search-open-btn.open {
  background-position: 0 -50px;
  background-color: #fff;
}
.header .util .all-menu-btn {
  background-position: -50px 0;
}


/* search-box */


.search-wrap {
  position: fixed;
  top: 96px;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  background: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: all .5s;
}
.search-wrap.open {
  padding: 30px 0;
  height: 251px;
  transition: all .5s;
}

.search-wrap .search {
  margin-bottom: 40px;
  padding: 10px 0;
  border-bottom: solid 3px #6e0000;
}
.search-wrap .search .select {
  position: relative;
  float: left;
  width: 177px;
}
.search-wrap .search .select .select-btn {
  position: relative;
  display: block;
  font-size: 16px;
  color: #666;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-image: url(../images/select-arrow.png);
  background-repeat: no-repeat;
  background-position: right top;
  text-align: left;
  cursor: pointer;
  z-index: 10;
}
.search-wrap .search .select .select-btn.open {
  background-position: right bottom;
}
.search-wrap .search .select .select-list {
  position: absolute;
  top: -10px;
  right: 0;
  padding-top: 50px;
  border: 0;
  width: 198px;
  height: 0;
  transition: all .3s;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 9;
}
.search-wrap .search .select .select-btn.open + .select-list {
  height: 252px;
  border: 1px solid #ddd;
  transition: all .3s;
}
.search-wrap .search .select .select-list a {
  display: block;
  padding: 0 19px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #666;
  background: #fff;
  box-sizing: border-box;
}
.search-wrap .search .select .select-list a:hover {
  background: #f4f4f4;
}
.search-wrap .search .input {
  position: relative;
  float: left;
  width: 878px;
  height: 40px;
  line-height: 40px;
}
.search-wrap .search .input input {
  padding: 0 20px;
  border: 0;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  width: 100%;
  height: 40px;
  font-size: 28px;
  font-weight: 500;
  color: #666;
  box-sizing: border-box;
}
.search-wrap .search .input input:focus {
  border: 1px solid #962639;
}
.search-wrap .search .input .clear-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 23px;
  background: url(../images/clear-btn.png) center center no-repeat;
}
.search-wrap .search .search-btn {
  float: right;
  width: 74px;
  height: 40px;
  background: url(../images/search-btn.png) center center no-repeat;
}

.search-wrap .search-title {
  float: left;
  width: 120px;
  font-size: 18px;
  font-weight: 500;
}
.search-wrap .keyword-list {
  float: left;
}
.search-wrap .keyword-list li {
  float: left;
  margin-right: 25px;
  font-size: 16px;
  color: #666;
}
.search-wrap .today-keyword {
  margin-bottom: 10px;
  line-height: 38px;
}
.search-wrap .today-keyword li {
  margin-right: 35px;
}
.search-wrap .today-keyword li a {
  display: block;
  padding: 0 20px;
  border: 2px solid #f5f4f2;
  border-radius: 20px;
  background: #f5f4f2;
  line-height: 34px;
  box-sizing: border-box;
}
.search-wrap .today-keyword li.mark a {
  border: 2px solid #962639;
}
.search-wrap .hot-menu {
  line-height: 38px;
}


/* all-menu */

.all-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.85);
  opacity: 0;
  z-index: -1;
  transition: all .3s .2s;
}
.all-menu.open {
  opacity: 1;
  z-index: 50;
  transition: all .5s;
}
.all-menu .inner {
  position: relative;
  padding-top: 140px;
}
.all-menu .inner > ul {
  margin-left: -35px;
  margin-top: -100px;
  transition: all .5s;
}
.all-menu.open .inner > ul {
  margin-top: 0;
  transition: all .6s .2s;
}
.all-menu .inner > ul > li {
  float: left;
  margin-bottom: 65px;
  padding-left: 35px;
  width: 20%;
  box-sizing: border-box;
}
.all-menu .depth01 {
  display: block;
  margin-bottom: 10px;
  border-bottom: 3px solid #6e0000;
  font-size: 24px;
  font-weight: 500;
  line-height: 60px;
  color: #fff;
}
.all-menu .depth02 a {
  display: block;
  font-size: 15px;
  line-height: 38px;
  color: #fff;
}
.all-menu button {
  display: block;
  position: absolute;
  top: 26px;
  right: 5px;
  width: 50px;
  height: 50px;
  background: #6e0000 url(../images/header-util.png) -50px -50px no-repeat;
}





/* footer */
.footer {
  background: #333337;
}
.footer .top {
  border-bottom: 1px solid #4d4d50;
  height: 50px;
  box-sizing: border-box;
}
.footer .top .call-wrap {
  float: left;
  line-height: 48px;
}
.footer .top .call-wrap dl {
  float: left;
  margin-left: 50px;
}
.footer .top .call-wrap .order {
  margin: 0;
}
.footer .top .call-wrap dt {
  float: left;
  position: relative;
  padding: 0 10px 0 22px;
  color: #999;
}
.footer .top .call-wrap dt::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 21px;
  background-image: url(../images/foot-icon.png);
  background-repeat: no-repeat;
  content: '';
}
.footer .top .call-wrap .order dt {
  padding-left: 35px;
}
.footer .top .call-wrap .order dt::before {
  width: 27px;
  height: 12px;
  background-position: 0 -226px;
}
.footer .top .call-wrap .represent dt::before {
  background-position: 0 -200px;
}
.footer .top .call-wrap .founded dt::before {
  background-position: -20px -200px;
}
.footer .top .call-wrap dt::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background: #666669;
  content: '';
}
.footer .top .call-wrap dd {
  float: left;
  padding-left: 10px;
  color: #fff;
}
.footer .top .family-wrap {
  float: right;
  position: relative;
  border-right: 1px solid #4d4d50;
  border-left: 1px solid #4d4d50;
}
.footer .top .family-wrap .family-btn {
  position: relative;
  display: block;
  padding: 0 20px;
  width: 265px;
  height: 48px;
  color: #8f8f91;
  font-size: 16px;
  text-align: left;
  box-sizing: border-box;
  text-transform: uppercase;
}
.footer .top .family-wrap .family-btn::before {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 13px;
  height: 1px;
  background: #fff;
  content: '';
}
.footer .top .family-wrap .family-btn::after {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(90deg);
  width: 13px;
  height: 1px;
  background: #fff;
  content: '';
  transition: all .3s;
}
.footer .top .family-wrap .family-btn.open::after {
  transform: translateY(-50%);
  opacity: 0;
  transition: all .3s;
}
.footer .top .family-wrap .family-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1px;
  margin-left: -1px;
  border-top: 1px solid #4d4d50;
  border-right: 1px solid #4d4d50;
  border-left: 1px solid #4d4d50;
  width: 100%;
  background: #333337;
}
.footer .top .family-wrap .family-list li a {
  display: block;
  padding-left: 19px;
  border-bottom: 1px solid #4d4d50;
  width: 100%;
  height: 38px;
  line-height: 38px;
  color: #fff;
  box-sizing: border-box;
}

.footer .sns-wrap .sns-list {
  text-align: center;
  margin-bottom: 25px;
  padding-top: 30px;
}
.footer .sns-wrap .sns-list > li {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}
.footer .sns-wrap .sns-list > li > a {
  display: block;
  width: 45px;
  height: 45px;
  background-image: url(../images/foot-icon.png);
  background-repeat: no-repeat;
}
.footer .sns-wrap .sns-list > li.instagram > a {
  background-position: center -150px;
}
.footer .sns-wrap .sns-list > li.instagram > a:hover {
  background-position: center -300px;
}
.footer .sns-wrap .sns-list > li.youtube > a {
  background-position: center top;
}
.footer .sns-wrap .sns-list > li.youtube > a:hover {
  background-position: center -250px;
}
.footer .sns-wrap .sns-list > li.facebook > a {
  background-position: center -50px;
}
.footer .sns-wrap .sns-list > li.facebook > a:hover {
  background-position: center -350px;
}
.footer .sns-wrap .sns-list > li.blog > a {
  background-position: center -100px;
}
.footer .sns-wrap .sns-list > li.blog > a:hover {
  background-position: center -400px;
}
.footer .sns-wrap .sns-list .sns-depth {
  display: none;
  position: absolute;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 7px;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  background: rgba(102,102,102,0.9);
  white-space: nowrap;
}
.footer .sns-wrap .sns-list .sns-depth::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 12px solid rgba(102,102,102,0.9);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: '';
}
.footer .sns-wrap .sns-list .sns-depth li {
  display: inline-block;
}
.footer .sns-wrap .sns-list .sns-depth a {
  position: relative;
  padding: 0 8px 0 9px;
  color: #fff;
}
.footer .sns-wrap .sns-list .sns-depth a::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #a3a3a3;
  width: 1px;
  height: 11px;
  content: '';
}
.footer .sns-wrap .sns-list .sns-depth li:last-child a::after {
  display: none;
}
.footer .foot-list {
  margin-bottom: 15px;
  text-align: center;
}
.footer .foot-list li {
  display: inline-block;
}
.footer .foot-list li a {
  position: relative;
  display: block;
  padding: 0 10px;
  color: #8f8f91;
  font-size: 14px;
}
.footer .foot-list li a span {
  color: #fff;
}
.footer .foot-list li a::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 13px;
  background: #666669;
  content: '';
}
.footer .foot-list li:first-child a::after {
  display: none;
}
.footer .foot-info {
  text-align: center;
}
.footer .foot-info dl {
  display: inline-block;
}
.footer .foot-info dt,
.footer .foot-info dd {
  float: left;
  color: #999;
  font-size: 14px;
}
.footer .foot-info dd {
  margin-right: 15px;
}
.footer .foot-info dd:last-child {
  margin: 0;
}
.footer .copy {
  padding-top: 9px;
  padding-bottom: 50px;
  color: #666;
  font-family: "Spoqa";
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.35px;
}


/* shadow-bg */
.shadow-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.6);
}