.title {
  padding-top: 245px;
  width: 100%;
  height: 390px;
  font-size: 42px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background: url(../images/menu-list-bg.jpg) center center no-repeat;
  box-sizing: border-box;
}

.content {
  position: relative;
}

/* menu-type */
.menu-type {
  margin-top: 30px;
  margin-bottom: 30px;
}
.menu-type li {
  position: relative;
  float: left;
  width: 14.285714%;
  height: 50px;
}
.menu-type li.on::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #6E0000;
  content: '';
}
.menu-type li button {
  display: block;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.menu-type li.on button {
  font-weight: 500;
  color: #222;
}

/* menu-list */
.menu-list {
  padding-bottom: 120px;
}
.menu-list ul {
  margin-left: -30px;
}
.menu-list li {
  float: left;
  margin-top: 30px;
  padding-left: 30px;
  width: 25%;
  box-sizing: border-box;
}
.menu-list li .cover {
  position: relative;
}
.menu-list li .menu-item {
  position: relative;
  display: block;
} 
.menu-list li .menu-item .icons {
  position: absolute;
  top: 0;
  left: 0;
}
.menu-list li.best .menu-item .icons::before {
  display: inline-block; 
  padding: 0 8px;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  background: #962639;
  content: 'best';
}
.menu-list li.new .menu-item .icons::after {
  display: inline-block; 
  padding: 0 8px;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  background: #87af0f;
  content: 'new';
}
.menu-list li .menu-item .img-box img {
  display: block;
  width: 100%;
}
.menu-list li .menu-item .info-box {
  padding-top: 10px;
  height: 80px;
  line-height: 1.5;
}
.menu-list li .menu-item .info-box .menu-name {
  display: block;
  font-size: 18px;
}
.menu-list li .menu-item .info-box .menu-price {
  display: block;
  margin-top: 2px;
  color: #962639;
}
.menu-list li .menu-item .info-box .menu-price::after {
  color: #222;
  content: '원';
}
.menu-list li .my-menu {
  display: none;
  position: absolute;
  left: 0;
  bottom: 90px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, .6);
}
.menu-list li .my-menu::before {
  display: inline-block;
  margin-right: 8px;
  width: 23px;
  height: 20px;
  background: url(../images/mymenu-icon.png) 0 0 no-repeat;
  vertical-align: -3px;
  content: '';
}
.menu-list li:hover .my-menu {
  display: block;
}


.order-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 19px;
  color: #fff;
  background: #6E0000;
}
.order-btn.absol {
  position: absolute;
}


/* quick */
.quick {
  position: fixed;
  right: 0;
  top: 390px;
}
.quick li a {
  display: block;
  border-bottom: 1px solid rgba(255,255,255,.2);
  width: 70px;
  height: 75px;
  text-align: center;
  color: #999;
  font-size: 12px;
  font-weight: 500;
  background: #222 url(../images/quick.png) 0 0 no-repeat;
  box-sizing: border-box;
  transition: all .3s;
}
.quick li.quick01 a {
  background-position-y: -75px;
}
.quick li.quick02 a {
  background-position-y: -150px;
}
.quick li.quick03 a {
  background-position-y: -225px;
}
.quick li.quick04 a {
  background-position-y: -300px;
}
.quick li.quick05 a {
  background-position-y: -375px;
}
.quick li.quick06 a {
  background-position-y: -450px;
}
.quick li a:hover {
  background-color: #6e0506;
  background-position-x: 100%;
  color: #fff;
  transition: all .3s;
}
.quick li a span {
  display: block;
  padding-top: 52px;
  line-height: 1.5;
}
.quick li button {
  display: block;
  width: 70px;
  height: 30px;
  background: #222 url(../images/quick.png) left bottom no-repeat;
}