.main {
  padding-top: 97px;
  padding-bottom: 120px;
}


/* title */

.title {
  padding-top: 42px;
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}


/* step-wrap */
.step-wrap {
  margin-bottom: 35px;
  text-align: center;
}
.step-wrap li {
  position: relative;
  display: inline-block;
  padding-top: 45px;
  width: 220px;
  font-size: 16px;
  color: #c2c2c2;
  line-height: 1.5;
}
.step-wrap li.now {
  color: #222;
}
.step-wrap li .step {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}
.step-wrap li .text {
  display: block;
}
.step-wrap li::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #ddd;
  width: 36px;
  height: 36px;
  background: #ddd;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 1;
  content: '';
}
.step-wrap li.end::before {
  border-color: #962639;
  background: #962639 url(../images/icons.png) 7px 7px no-repeat;
}
.step-wrap li.now::before {
  border-color: #962639;
  background: #fff;
}
.step-wrap li::after {
  position: absolute;
  top: 17px;
  left: 50%;
  width: 100%;
  height: 3px;
  background: #ddd;
  content: '';
}
.step-wrap li.end::after {
  background: #962639;
}
.step-wrap li:last-child::after {
  display: none;
}


/* sub-title */
.sub-title {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

/* sub-desc */
.sub-desc {
  margin-bottom: 26px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #666; 
}


/* form-wrap */
.form-wrap {
  border-top: 1px solid #ddd;
}
.form-wrap .agree-all {
  margin: 35px 0 18px;
  font-size: 20px;
  font-weight: 500;
}
.form-wrap input[type="checkbox"] {
  display: none;
}
.form-wrap input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 30px;
}
.form-wrap input[type="checkbox"] + label span {
  color: #962639;
}
.form-wrap input[type="checkbox"] + label::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(../images/icons.png) left -40px no-repeat;
  content: '';
}
.form-wrap input[type="checkbox"]:checked + label::before {
  background-position: -40px -40px;
}
.form-wrap .agree {
  margin-top: 30px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #ddd;
}
.form-wrap .agree:nth-of-type(1) {
  margin-top: 0; 
}
.form-wrap .agree .check {
  position: relative;
  padding: 20px;
}
.form-wrap .agree .check button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 56px;
  height: 56px;
}
.form-wrap .agree .check button::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 7px;
  background: url(../images/icons.png) -120px top no-repeat;
  content: '';
}
.form-wrap .agree.open .check button::before {
  background-position: -120px -20px;
}
.form-wrap .agree .desc {
  display: none;
  padding: 20px;
  height: 135px;
  color: #666;
  overflow-y: auto;
  box-sizing: border-box;
}
.form-wrap .row {
  border-bottom: 1px solid #ddd;
}
.form-wrap .row:first-of-type {
  margin-top: 30px;
  border-top: 2px solid #222;
}
.form-wrap .row .label {
  float: left;
  padding: 15px 0 15px 20px;
  width: 245px;
  line-height: 60px;
  font-size: 18px;
  box-sizing: border-box;
}
.form-wrap .row .label strong {
  position: relative;
}
.form-wrap .row.necessary .label strong::after {
  display: block;
  position: absolute;
  top: 4px;
  right: -9px;
  margin-left: 2px;
  width: 5px;
  height: 5px;
  background: #962639;
  border-radius: 50%;
  content: '';
}
.form-wrap .row .info {
  display: table;
  float: left;
  padding: 20px 0;
  height: 90px;
  color: #666;
  box-sizing: border-box;
  line-height: 1.5;
}
.form-wrap .row.marketing .label {
  line-height: 132px;
}
.form-wrap .row .info .table-cell {
  display: table-cell;
  vertical-align: middle;
}
.form-wrap .row .info input,
.form-wrap .row .info select {
  padding: 0 20px;
  border: 1px solid #ccc;
  height: 50px;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  outline: 0;
}
.form-wrap .row .info label,
.form-wrap .row .info span {
  color: #666;
}
.form-wrap .row .info select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/select-icon.png) right center no-repeat;
}
.form-wrap .row .info input:focus {
  border: 1px solid #6e0000;
}

.form-wrap .row .info p {
  position: relative;
  margin-top: 10px;
  padding-left: 9px;
  color: #666;
}
.form-wrap .row .info p:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 2px;
  background: #8a8a8a;
  content: '';
}

.form-wrap .row .info #id {
  width: 220px;
}
.form-wrap .row .info #id + button {
  display: inline-block;
  margin-left: 6px;
  width: 140px;
  height: 50px;
  background: #6e0000;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.form-wrap .row .info .pw {
  width: 375px;
}
.form-wrap .row.phone .info input,
.form-wrap .row.phone .info select {
  display: inline-block;
  width: 100px;
}
.form-wrap .row.phone .info input {
  margin-left: 6px;
}
.form-wrap .row .info #email01 {
  width: 160px;
}
.form-wrap .row .info #email01 + span {
  display: inline-block;
  margin: 0 5px;
}
.form-wrap .row .info #email02 {
  width: 190px;
}
.form-wrap .row .info #email02:disabled {
  background: #fff;
}
.form-wrap .row .info .email-select {
  margin-left: 6px;
  width: 160px;
}

.form-wrap .row.radio .label {
  line-height: 50px;
}
.form-wrap .row.radio .info {
  height: 130px;
}
.form-wrap .row .info input[type="radio"] {
  display: none;
}
.form-wrap .row .info input[type="radio"] + label {
  position: relative;
  display: inline-block;
  padding: 0 16px 0 30px;
}
.form-wrap .row .info input[type="radio"] + label::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  background: url(../images/icons.png) left -80px no-repeat;
  content: '';
}
.form-wrap .row .info input[type="radio"]:checked + label::before {
  background-position: -40px -80px;
}
.form-wrap .row .info #marketing02 + label {
  margin-top: 10px;
}
.form-wrap .row.marketing .info .table-cell {
  padding: 15px 0;
}
.form-wrap .row .info .required-msg {
  display: none;
  margin-left: 6px;
  color: #962639;
}


.form-wrap .form-send {
  display: block;
  margin: 40px auto 0;
  border: 0;
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #6e0000;
}