body {
  overflow-x: hidden;
}



/* common */

.bx-wrapper {
  margin: 0;
  border: 0;
  box-shadow: none;
  background: none;
}

section .title {
  margin-bottom: 50px;
  font-size: 48px;
  color: #222;
  letter-spacing: -0.025em;
  text-align: center;
  line-height: 1em;
}
section .title span {
  display: block;
  font-style: italic;
  font-family: "Georgia";
  font-size: 20px;
  font-weight: 400;
  color: #8f172b;
}


/* sec01 */


.sec01 {
  position: relative;
}
.sec01 .slider li {
  position: relative;
  width: 100%;
  height: 780px;
}
.sec01 .slider li.visual01 {
  background: url(../images/main-visual01.jpg) center center no-repeat;
}
.sec01 .slider li.visual02 {
  background: url(../images/main-visual02.jpg) center center no-repeat;
}
.sec01 .slider li.visual03 {
  background: url(../images/main-visual03.jpg) center center no-repeat;
}
.sec01 .slider li.visual04 {
  background: url(../images/main-visual04.jpg) center center no-repeat;
}
.sec01 .slider li .content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-top: 40px;
  width: 100%;
  text-align: center;
}
.sec01 .slider li .content .title {
  display: block;
  margin-left: -50px;
  font-weight: 400;
  font-family: "Georgia";
  font-style: italic;
  font-size: 20px;
  line-height: 1em;
  color: #fff;
  opacity: 0;
}
.sec01 .slider li.on .content .title {
  margin-left: 0;
  opacity: 1;
  transition: all .3s;
}
.sec01 .slider li .content .sub-title {
  display: block;
  margin-top: 24px;
  margin-left: -50px;
  font-size: 60px;
  line-height: 1.2em;
  color: #fff;
  opacity: 0;
  letter-spacing: -1.5px;
}
.sec01 .slider li.on .content .sub-title {
  margin-left: 0;
  opacity: 1;
  transition: all .4s .1s;
}
.sec01 .slider li .content .sub-title strong {
  font-weight: 500;
  color: #fff;
}
.sec01 .slider li .more-btn {
  display: inline-block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
  opacity: 0;
}
.sec01 .slider li.on .more-btn {
  opacity: 1;
  transition: all .5s .2s;
}
.sec01 .slider li.clone01 .more-btn {
  border: 1px solid #666;
  color: #666;
}
.sec01 .slider li.visual01 .more-btn {
  position: absolute;
  top: 467px;
  left: 50%;
  transform: translateX(-50%);
}
.sec01 .slider li.visual02 .more-btn {
  position: absolute;
  top: 503px;
  left: 50%;
  transform: translateX(-50%);
}
.sec01 .slider li.clone02 .more-btn {
  margin-top: 45px;
  border: 1px solid #fff;
  color: #fff;
}
.sec01 .slider-pager {
  position: absolute;
  bottom: 59px;
  left: 50%;
  transform: translateX(-50%);
}
.sec01 .slider-pager li {
  float: left;
}
.sec01 .slider-pager a {
  display: block;
  margin: 0 7px;
  width: 44px;
  height: 3px;
  background: #fff;
  opacity: 0.5;
}
.sec01 .slider-pager a.active {
  opacity: 1;
  transition: all .3s;
}



/* sec02 */

.sec02 {
  position: relative;
  margin-top: -42px;
  z-index: 99;
}
.sec02 .inner {
  width: 1144px;
}
.sec02 .order-list {
  float: left;
  padding: 0 20px;
  border-right: 1px solid rgba(255,255,255,0.2);
  width: 33.333333%;
  height: 84px;
  line-height: 84px;
  background: #6e0000 url(../images/main-arrow.png) right 20px center no-repeat;
  color: #fff;
  box-sizing: border-box;
}
.sec02 .order-list:last-child {
  border-right: 0;
}
.sec02 .order-list strong {
  font-size: 20px;
  font-weight: 500;
}
.sec02 .order-list span {
  padding-left: 12px;
  opacity: 0.6;
  vertical-align: top;
  letter-spacing: -0.6px;
}


/* sec03 */
.sec03 {
  padding: 70px 0 110px;
}
.sec03 .inner {
  width: 1130px;
  overflow: hidden;
}
.sec03 .life-wrap {
  margin-top: 110px;
}
.sec03 .life-wrap:nth-of-type(1) {
  margin-top: 0;
}
.sec03 .life-wrap .img-wrap {
  position: relative;
  float: left;
  width: 650px;
  height: 375px;
}
.sec03 .life-wrap.left .img-wrap::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #6e0000;
  z-index: 1;
  content: '';
}
.sec03 .life-wrap.left.active .img-wrap::before {
  width: 100%;
  margin-left: 100%;
  transition: width .5s, margin-left .5s .5s;
}
.sec03 .life-wrap.right .img-wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #6e0000;
  z-index: 1;
  content: '';
}
.sec03 .life-wrap.right.active .img-wrap::before {
  width: 100%;
  margin-right: 100%;
  transition: width .5s, margin-right .5s .5s;
}
.sec03 .life-wrap .img-wrap img {
  opacity: 0;
}
.sec03 .life-wrap:nth-of-type(1) .img-wrap img {
  margin-top: -35px;
}
.sec03 .life-wrap:nth-of-type(2) .img-wrap img {
  margin-top: -30px;
}
.sec03 .life-wrap:nth-of-type(3) .img-wrap img {
  margin-top: -70px;
  margin-left: -70px;
}
.sec03 .life-wrap:nth-of-type(4) .img-wrap img {
  margin-top: -41px;
  margin-right: -40px;
}
.sec03 .life-wrap.active .img-wrap img {
  opacity: 1;
  transition: opacity .5s .5s;
}
.sec03 .life-wrap .txt-wrap {
  position: relative;
  float: left;
  padding-top: 25px;
  padding-left: 30px;
  width: 480px;
  height: 375px;
  box-sizing: border-box;
  background: #fff;
  z-index: 2;
  overflow: hidden;
}
.sec03 .life-wrap.right .txt-wrap {
  padding-left: 85px;
}
.sec03 .life-wrap .txt-wrap .brand {
  margin-left: -50px;
  font-size: 18px;
  color: #8f172b;
  line-height: 1.6;
  opacity: 0;
}
.sec03 .life-wrap.active .txt-wrap .brand {
  margin-left: 0;
  opacity: 1;
  transition: all .5s .7s;
}
.sec03 .life-wrap .txt-wrap .desc01 {
  position: relative;
  margin-left: -150px;
  margin-bottom: 23px;
  padding: 2px 0 26px;
  font-size: 34px;
  color: #222;
  line-height: 45px;
  opacity: 0;
}
.sec03 .life-wrap.active .txt-wrap .desc01 {
  margin-left: 0;
  opacity: 1;
  transition: all .5s .7s;
}
.sec03 .life-wrap .txt-wrap .desc01::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 27px;
  height: 2px;
  background: #222;
  opacity: 0;
  content: '';
}
.sec03 .life-wrap.active .txt-wrap .desc01::after {
  opacity: 1;
  transition: all .5s .7s;
}
.sec03 .life-wrap .txt-wrap .desc02 {
  margin-left: -70px;
  padding-bottom: 4px;
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  opacity: 0;
}
.sec03 .life-wrap.active .txt-wrap .desc02 {
  margin-left: 0;
  opacity: 1;
  transition: all .5s .7s;
}
.sec03 .life-wrap .txt-wrap .more-btn {
  display: block;
  margin-top: 30px;
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: #6e0000;
  opacity: 0;
}
.sec03 .life-wrap.active .txt-wrap .more-btn {
  opacity: 1;
  transition: all .5s .7s;
}




/* sec04 */
.sec04 {
  padding: 40px 0 110px;
  width: 100%;
  height: 850px;
  background: url(../images/sec04-bg.jpg) center center no-repeat;
  box-sizing: border-box;
}
.sec04 .title {
  font-size: 46px;
  color: #fff;
}
.sec04 .title span {
  font-size: 18px;
  color: #87af0f;
}
.sec04 .content {
  position: relative;
}
.sec04 .slider {
  margin-left: 33%;
}
.sec04 .slider li {
  position: relative;
}
.sec04 .slider li::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.4;
  content: '';
}
.sec04 .slider li.on::after {
  opacity: 0;
  transition: all .1s;
}
.sec04 .slider li img {
  display: block;
}
.sec04 .slider li .start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 62px;
  height: 62px;
  background: url(../images/start-btn.png) center center no-repeat;
  opacity: 0;
}
.sec04 .slider li.on .start-btn {
  opacity: 1;
  transition: all .3s;
}

.sec04 button {
  position: absolute;
  top: 175px;
  width: 195px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 16px;
}
.sec04 .prev-btn {
  margin-right: 275px;
  right: 50%;
  text-align: left;
}
.sec04 .next-btn {
  margin-left: 275px;
  left: 50%;
  text-align: right;
}
.sec04 button::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 160px;
  height: 1px;
  background: rgba(255,255,255,0.6);
  content: '';
}
.sec04 .prev-btn::after {
  right: 0;
}
.sec04 .next-btn::after {
  left: 0;
}
.sec04 .slider-pager {
  position: absolute;
  top: 428px;
  left: 50%;
  transform: translateX(-50%);
}
.sec04 .slider-pager li {
  float: left;
}
.sec04 .slider-pager li a {
  display: block;
  margin: 0 4px;
  width: 18px;
  height: 3px;
  background: #fff;
  opacity: 0.5;
}
.sec04 .slider-pager li a.active {
  opacity: 1;
  transition: all .3s;
}
.sec04 .text-slide {
  margin-top: 60px;
  text-align: center;
}
.sec04 .text-slide li {
  display: none;
}
.sec04 .text-slide li.on {
  display: block;
}
.sec04 .text-slide h4 {
  color: #fff;
  font-size: 28px;
}
.sec04 .text-slide p {
  margin-top: 13px;
  min-height: 54px;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
.sec04 .question-btn {
  display: block;
  margin: 22px auto 0;
  padding: 0 30px;
  width: 194px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #87af0f;
  box-sizing: border-box;
}


/* sec05 */

.sec05 {
  padding: 70px 0 110px;
}
.sec05 .inner {
  position: relative;
  width: 1130px;
}
.sec05 .left-wrap {
  padding-top: 45px;
  width: 560px;
}
.sec05 .left-wrap .brand {
  font-size: 18px;
  color: #8f172b;
}
.sec05 .left-wrap .menu-name {
  margin-top: 10px;
  line-height: 45px;
  font-size: 34px;
  color: #222;
}
.sec05 .left-wrap .menu-desc {
  margin-top: 5px;
  line-height: 26px;
  font-size: 16px;
  color: #666
}
.sec05 .left-wrap .more-btn {
  display: block;
  margin-top: 22px;
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background: #6e0000;
}
.sec05 .left-wrap .txt-wrap {
  height: 176px;
}
.sec05 .left-wrap .txt-wrap li {
  margin-left: -50px;
  opacity: 0;
}
.sec05.active .left-wrap .txt-wrap li.on {
  margin-left: 0;
  opacity: 1;
  transition: margin-left .5s, opacity .3s;
}
.sec05 .left-wrap .thumb-wrap {
  margin-top: 80px;
  margin-bottom: 79px;
}
.sec05 .left-wrap .thumb-wrap li {
  float: left;
  margin-right: 20px;
}
.sec05 .left-wrap .thumb-wrap button {
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
}
.sec05 .left-wrap .thumb-wrap li.on button::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #6e0000;
  content: '';
}
.sec05 .left-wrap .thumb-wrap button img {
  display: block;
  width: 100%;
  height: 100%;
}
.sec05 .img-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  width: 956px;
  height: 502px;
  overflow: hidden;
}
.sec05 .img-wrap li {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sec05 .img-wrap li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #6e0000;
  z-index: 5;
  content: '';
} 
.sec05.active .img-wrap li.on::before {
  width: 100%;
  margin-left: 100%;
  transition: width .5s, margin-left .5s .5s;
}
.sec05 .img-wrap li img {
  display: block;
  opacity: 0;
  transition: all .1s .5s;
}
.sec05 .img-wrap li.on img {
  opacity: 1;
  transition: all .1s .5s;
}


/* sec06 */

.sec06 {
  position: relative;
  padding-top: 70px;
  width: 100%;
  height: 350px;
  background: url(../images/main-vision-bg.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
}
.sec06 .title {
  color: #fff;
}
.sec06 .title span {
  color: #fff;
}
.sec06 .vision-box {
  display: table;
  position: absolute;
  top: 212px;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  height: 225px;
  background: #87af0f;
}
.sec06 .vision-box::before {
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 26px;
  background: url(../images/main-slash.png) center center no-repeat;
  opacity: .5;
  content: '';
}
.sec06 .vision-box::after {
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 26px;
  background: url(../images/main-slash.png) center center no-repeat;
  opacity: .5;
  content: '';
}
.sec06 .vision-box p {
  display: table-cell;
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  line-height: 39px;
  letter-spacing: -.7px;
  vertical-align: middle;
}
.sec06 .vision-box p strong {
  font-weight: 500;
}



/* sec07 */
.sec07 {
  padding: 160px 0 80px;
  background: #f4f4f4;
}
.sec07 .inner {
  width: 1170px;
}
.sec07 .news-wrap {
  float: left;
  padding: 0 20px;
  width: 33.333333%;
  box-sizing: border-box;


}
.sec07 .news-box {
  position: relative;
  overflow: hidden;
}
.sec07 .news-box::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 5px solid #6e0000;
  border-right: 5px solid #6e0000;
  transform: translateX(-100%);
  box-sizing: border-box;
  z-index: 2;
  transition: height .1s .2s, transform .1s .3s;
  content: '';
}
.sec07 .news-box:hover::before {
  transform: translateX(0);
  height: 100%;
  transition: transform .1s, height .1s .1s;
}
.sec07 .news-box::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-bottom: 5px solid #6e0000;
  border-left: 5px solid #6e0000;
  transform: translateX(100%);
  box-sizing: border-box;
  z-index: 2;
  transition: height .1s, transform .1s .1s;
  content: '';
}
.sec07 .news-box:hover::after {
  transform: translateX(0);
  height: 100%;
  transition: transform .1s .2s, height .1s .3s;
}
.sec07 .news-box .title-wrap {
  position: relative;
  padding: 25px 20px 16px;
  border-bottom: 1px solid #dedede;
}
.sec07 .news-box .title-wrap h4 {
  font-size: 26px;
  font-weight: 500;
  color: #222;
}
.sec07 .news-box .title-wrap .more-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  color: #962639;
  font-size: 16px;
  letter-spacing: .25em;
  z-index: 5;
}
.sec07 .news-box .slide-wrap {
  position: relative;
  padding: 20px;
  height: 143px;
  box-sizing: border-box;
  z-index: 5;
}
.sec07 .news-box .slide-wrap li a {
  display: block;
  min-height: 58px;
  font-size: 20px;
  line-height: 1.45;
  color: #222;
}
.sec07 .news-box .slide-wrap .date {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #999;
}
.sec07 .news-box .slide-wrap .control-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.sec07 .news-box .slide-wrap .control-btn button {
  position: relative;
  float: left;
  display: block;
  border: 1px solid #ddd;
  width: 35px;
  height: 35px;
  background: #fff;
  transition: all .3s;
}
.sec07 .news-box .slide-wrap .control-btn button:disabled {
  opacity: 0.35;
  transition: all .3s;
}
.sec07 .news-box .slide-wrap .control-btn button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #707070;
  border-top-color: transparent;
  border-left-color: transparent;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  content: '';
}
.sec07 .news-box .slide-wrap .control-btn .prev-btn {
  margin-right: 10px;
}
.sec07 .news-box .slide-wrap .control-btn .prev-btn::after {
  margin-left: 2px;
  transform: translate(-50%, -50%) rotate(135deg);
}
.sec07 .news-box .slide-wrap .control-btn .next-btn::after {
  margin-left: -2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}