

@font-face {
  font-family: 'GC';
  font-style: normal;
  font-weight: 100;
  src:url('../fonts/gc110.woff2') format('woff2'),
      url('../fonts/gc110.woff') format('woff');
}

@font-face {
  font-family: 'GC';
  font-style: normal;
  font-weight: 300;
  src:url('../fonts/gc120.woff2') format('woff2'),
      url('../fonts/gc120.woff') format('woff');
}

@font-face {
  font-family: 'GC';
  font-style: normal;
  font-weight: 400;
  src:url('../fonts/gc130.woff2') format('woff2'),
      url('../fonts/gc130.woff') format('woff');
}

@font-face {
  font-family: 'GC';
  font-style: normal;
  font-weight: 500;
  src:url('../fonts/gc140.woff2') format('woff2'),
      url('../fonts/gc140.woff') format('woff');
}

@font-face {
  font-family: 'GC';
  font-style: normal;
  font-weight: 700;
  src:url('../fonts/gc150.woff2') format('woff2'),
      url('../fonts/gc150.woff') format('woff');
}


