body {
  background: url(../images/pattern-bg.gif) center top repeat-y;
}
#wrap {
  position: relative;
  padding-top: 120px;
  overflow: hidden;
}



/* location */
.location {
  position: relative;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background: #fafafa;
  z-index: 5;
}
.location.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.location .inner {
  position: relative;
}

.location .home {
  display: block;
  float: left;
  border-left: 1px solid #dedede;
  width: 70px;
  height: 70px;
  background: url(../images/location-home-icon.png) center center no-repeat;
  box-sizing: border-box;
  transition: background .2s cubic-bezier(0.250, 0.460, 0.450, 0.940), width .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.location.fixed .home {
  border: 0;
  background: url(../images/location-logo-icon.png) left center no-repeat;
  transition: background .2s cubic-bezier(0.250, 0.460, 0.450, 0.940), width .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);;
}

.location .depth {
  position: absolute;
  top: 0;
  left: 70px;
  margin-top: -1px;
  margin-bottom: -1px;
  border: 1px solid #e1e1e1;
  width: 188px;
  box-sizing: border-box;
  transition: all .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  z-index: 1;
}
.location.fixed .depth {
  left: 189px;
  transition: left .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.location .depth.open {
  border: 1px solid #000;
  transition: all .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.location .depth .now {
  position: relative;
  display: block;
  padding: 0 20px;
  width: 100%;
  height: 70px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  color: #666;
  box-sizing: border-box;
  transition: all .3s;
}
.location .depth .now:hover,
.location .depth.open .now {
  color: #222;
  transition: all .3s;
}
.location .depth .now::after {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  box-sizing: border-box;
  background: url(../images/location-now-btn-off.png) center center no-repeat;
  content: '';
  transition: transform .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.location .depth.open .now::after {
  transform: translateY(-50%) rotate(180deg);
  transition: transform .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.location .depth .list {
  display: none;
  padding: 10px 0;
  height: auto;
  background: #fff;
  overflow: hidden;
}
.location .depth.open .list {
  border-top: 1px solid #e1e1e1;
}
.location .depth .list a {
  display: block;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
}
.location .depth .list .on a {
  color: #222;
}

.location .print-btn {
  float: right;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  background: url(../images/location-print-icon.png) center center no-repeat;
  transition: all .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}



/* content */
.content .inner {
  padding: 0 70px;
  box-sizing: border-box;
}
.content .title {
  margin-top: 92px;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 27px;
  line-height: 30px;
  letter-spacing: -0.675px;
  color: #444;
}
.content .desc {
  position: relative;
  margin-bottom: 73px;
  padding-left: 30px;
  font-size: 42px;
  line-height: 53px;
  letter-spacing: -2.226px;
  color: #444;
}
.content .desc::before {
  position: absolute;
  top: 5px;
  left: 0;
  bottom: 2px;
  width: 5px;
  background: linear-gradient(180deg, rgba(67,176,42,1) 0%, rgba(0,169,224,1) 100%);
  content: '';
}






/* pager */
.pager {
  padding: 42px 0 100px;
  text-align: center;
  font-size: 0;
}
.pager > a {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.pager .first-btn {
  background: url(../images/first-page-arrow-icon.png) center center no-repeat;
}
.pager .first-btn::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #ccc;
  content: '';
}
.pager .prev-btn {
  background: url(../images/page-prev-arrow-icon.png) center center no-repeat;
}
.pager .next-btn {
  background: url(../images/page-next-arrow-icon.png) center center no-repeat;
}
.pager .end-btn {
  background: url(../images/end-page-arrow-icon.png) center center no-repeat;
}
.pager .end-btn::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #ccc;
  content: '';
}

.pager ul {
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
}
.pager li {
  float: left;
}
.pager li a {
  display: block;
  margin: 2px 10px 0;
  border-bottom: 2px solid transparent;
  width: 22px;
  height: 34px;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  line-height: 34px;
  text-align: center;
}
.pager li.now a {
  color: #222;
  border-bottom: 2px solid #222;
}



.top-btn {
  display: none;
}


 

.footer.fixed {
  position: relative;
}
.footer .inner {
  padding: 0;
}
.footer .top {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #191919;
}
.footer.fixed .top {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 50;
  transition: bottom .3s;
}
.footer.fixed.hidden .top {
  bottom: -60px;
  transition: bottom .3s;
}

.footer .top .sns-list {
  margin: 0;
}